DATABASE_URL=postgresql://postgres:postgres@localhost:5432/invoicemailer

REDIS_HOST=localhost
REDIS_PORT=6379

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_ethereal_user
SMTP_PASS=your_ethereal_pass

PORT=3000